[submodule "yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "QtAwesome"]
	path = external/QtAwesome
	url = https://github.com/gamecreature/QtAwesome.git
[submodule "pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/BoTSORT-cpp"]
	path = external/BoTSORT-cpp
	url = https://github.com/viplix3/BoTSORT-cpp.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
